---
import "../styles/site.css";
import openpolicy from "../lib/openpolicy";
import { compile, expandOpenPolicyConfig } from "@openpolicy/core";
import { renderHTML } from "@openpolicy/renderers";

const policies = expandOpenPolicyConfig(openpolicy);

const privacyPolicy = policies.find((p) => p.type === "privacy");

if (!privacyPolicy) {
	throw new Error("Privacy policy not found in config");
}

const policy = renderHTML(compile(privacyPolicy));
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Privacy Policy</title>
	</head>
	<body>
		<main>
			<nav>
				<a href="/">Home</a>
				<a href="/privacy">Privacy</a>
				<a href="/terms">Terms</a>
				<a href="/cookie">Cookie</a>
			</nav>

			<div set:html={policy} />
		</main>
	</body>
</html>
