---
import { Content } from "../policies/privacy-policy.md";
import "../styles/site.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Privacy Policy</title>
	</head>
	<body>
		<main>
			<nav>
				<a href="/">Home</a>
				<a href="/privacy">Privacy</a>
				<a href="/terms">Terms</a>
				<a href="/cookie">Cookie</a>
			</nav>
			<Content />
		</main>
	</body>
</html>
