---
import LogoWide from "../assets/logo-wide.svg"
---

<header>
  <a
    href="/"
    class="font-mono font-medium select-none text-black hover:text-gray-600 transition-colors tracking-widest"
  >
    <LogoWide class="h-3 w-auto" />
  </a>
</header>
